extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slide
		.owl-carousel.owl-theme
			.item.item-slide Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio nobis eos molestiae deleniti accusamus, dolore natus odit corporis culpa. Quasi deserunt iure voluptatem reprehenderit, error voluptas suscipit voluptatibus eligendi provident.
			.item.item-slide Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio nobis eos molestiae deleniti accusamus, dolore natus odit corporis culpa. Quasi deserunt iure voluptatem reprehenderit, error voluptas suscipit voluptatibus eligendi provident.
			.item.item-slide Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio nobis eos molestiae deleniti accusamus, dolore natus odit corporis culpa. Quasi deserunt iure voluptatem reprehenderit, error voluptas suscipit voluptatibus eligendi provident.
	section.home-news
		.container
			.row
				.col-md-4.item
					a(href="#")
						figure
							.box-img
								i.fa.fa-eye
								img(src="./img/home-news-1.png", alt="")
							figcaption
								h3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi!
								time 16/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae neque in facilis eveniet minima ut voluptatibus optio et porro assumenda ab reiciendis nobis nostrum sed modi consectetur, accusamus nihil?
				.col-md-4.item
					a(href="#")
						figure
							.box-img
								i.fa.fa-eye
								img(src="./img/home-news-2.png", alt="")
							figcaption
								h3 Long Handsome
								time 16/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae neque in facilis eveniet minima ut voluptatibus optio et porro assumenda ab reiciendis nobis nostrum sed modi consectetur, accusamus nihil?
				.col-md-4.item
					a(href="#")
						figure
							.box-img
								i.fa.fa-eye
								img(src="./img/home-news-3.png", alt="")
							figcaption
								h3 Long Handsome
								time 16/08/2018
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae neque in facilis eveniet minima ut voluptatibus optio et porro assumenda ab reiciendis nobis nostrum sed modi consectetur, accusamus nihil?
